input:required
{
    border: 2px solid red;
}
input:optional /*input:not(:required)*/
{
    border: 2px solid blue;
}
input:disabled
{
    background-color: grey;
}
input:read-only
{
    border: 2px dotted red;
}
input:focus
{
    outline: none;
    background-color: silver;
    border: 2px solid aqua;
}
p{
    display: none;
}
input:hover + p{
    display: inline;
    background-color: yellow;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
input[type="radio"]:checked
{
    width:20px;
    height:20px;
    accent-color: red;
}
input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}
img{
    display: none;
    width: 20px;
    height: 20px;
}

input[type="email"]:focus:valid ~ img.valid
{
    display: inline;
}
input[type="email"]:focus:invalid ~ img.invalid
{
    display: inline;
}