body
{
    /* background-color: aquamarine; */
    /* background-image: linear-gradient(yellow, green, crimson,white); */
    /* background-image:radial-gradient(yellow, green, crimson,white); */
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%, 100%;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(255, 255, 0, 0.504), rgba(0, 128, 0, 0.138), rgba(220, 20, 60, 0.146),rgba(255, 255, 255, 0.155)), url(https://images.unsplash.com/photo-1570986454123-edb6ef6cdf82?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
